.site-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-toolbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.mat-toolbar > app-book-search-bar {
  flex-grow: 1;
  max-width: 30rem;
}
