<button mat-icon-button aria-label="Shopping cart"
        color="accent" [routerLink]="['/cart']" >
  <mat-icon matBadge="{{getCartItems()}}"
            matBadgeColor="warn"
            [matBadgeHidden]="getCartItems() === 0">
    shopping_cart
  </mat-icon>
</button>
<button *ngIf="hasRole('verified','admin')" mat-icon-button aria-label="Orders"
        color="accent" [routerLink]="['/orders']">
  <mat-icon>
    assignment
  </mat-icon>
</button>
<button *ngIf="isLoggedIn()" mat-icon-button aria-label="Profile"
        color="accent" [routerLink]="['/profile']">
  <mat-icon>
    account_circle
  </mat-icon>
</button>
<button *ngIf="!isLoggedIn()" mat-icon-button aria-label="Sign in / Sign up"
        color="accent" [routerLink]="['/signIn']">
  <mat-icon>
    login
  </mat-icon>
</button>
<button  (click) ="signOut()" *ngIf="isLoggedIn()" mat-icon-button aria-label="Sign out"
        color="accent" [routerLink]="['/']">
  <mat-icon>
    logout
  </mat-icon>
</button>
